/* google_fonts_import */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.mainContainer {
    background-color: lightgray;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.containerOne {
    background-color: blue;
    width: 100%;
    height: 50%;
}

.containerTwo {
    background-color: purple;
    width: 100%;
    height:50%;
}

